.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.site-content{
    background-color: rgb(134, 224, 224)
}

.site-header{
    background-color: rgb(107, 189, 189)
}

#liste-cours{
    color: blue;
}

#masthead{
    background-color: black;
}

.attachment-thumbnail .size-thumbnail{
    border: 2px solid black;
}

.wp-block-column{
    border: 2px solid black;
}

img.attachment-thumbnail.size-thumbnail{
    border: 5px solid rgb(26, 0, 170);
}
