.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.site-content{
    background-color: rgb(132, 192, 192)
}

.site-header{
    background-color: rgb(107, 189, 189)
}

#liste-cours{
    color: blue;
}

#masthead{
    background-color: black;
}



img.attachment-thumbnail.size-thumbnail{
    border: 5px solid rgb(0, 145, 170);
}

p.has-background.has-drop-cap.has-small-font-size{
    background-color: rgb(178, 221, 235);
}

div.wp-block-media-text.wp-block-media-text__content{
    padding:0;
}
